<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %> 
    <title>cron</title>
</head>
<!-- body -->
<body class="about_page">
    <%- include('partial/header') %> 
    <!-- end header end --> 
    <!--services start -->
    <div class="about_main">
    <div class="services_main">
    	<div class="container">
    		<div class="creative_taital">
    			<h1 class="creative_text">Cloudy's Blog</h1>
    			<p style="color: #050000; text-align: center;">This is a prototype blog website that I made for my personal project. I made this for my practice for learning web programming specially with node Js and its libraries. Feel free to use it and contact me for more feature or project you want me to do.</p>
    		</div>    
    	</div>

    <!--Contact_section start -->
   <%- include('partial/contact') %> 
    <!--Contact_section end -->
    <%- include('partial/copyright') %> 
      <!-- Javascript files-->
      <%- include('partial/footer') %> 
</body>
</html>