<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %> 
    <title>Document</title>
</head>
<body>
    <%- include('partial/header') %>
    
    <!--banner start -->
    <div class="banner-main">
    	<div class="container">

			<% info.forEach(inf => { %>
				<div class="alert alert-success" role="alert">
					<%= inf %> 
				</div>
			<% }) %>
			<% error.forEach(err => { %>
				<div class="alert alert-danger" role="alert">
					<%= err %> 
				</div>
			<% }) %>

            <div class="titlepage-h1">
    	        <h1 class="bnner_title">Welcome To<br>
    	        <span style="color: #10b5fa">MY BLOG</span></h1>
    		</div>
        </div>
    </div>
    <!--banner end -->
    <!--services start -->
    <div class="services_main">
    	<div class="container">
    		<div class="creative_taital">
    			<h1 class="creative_text">Cloudy's Blog</h1>
    			<p style="color: #050000; text-align: center;">This is a prototype blog website that I made for my personal project. I made this for my practice for learning web programming specially with node Js and its libraries. Feel free to use it and contact me for more feature or project you want me to do.</p>
    			<div class="btn_main">
    			    <a href="/blog" class="btn btn-dark btn-lg">Lihat Blog</a>
    		    </div>
    		</div>
    		    <div class="section_service_2">
    		    	<h1 class="service_text">Web Programming</h1>
    		    </div>
    		    <div class="service_main">
    		    	<div class="container">
    		    		<div class="row">
    		    			<div class="col-md-6">
    		    				<div class="written_text">
    		    					<div class="like_icon"><img src="/img/like-icon.png"></div>
    		    					<h1 class="written_text">Javascript</h1>
    		    					<p>JavaScript often abbreviated JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. Over 97% of websites use JavaScript on the client side for web page behavior, often incorporating third-party libraries. All major web browsers have a dedicated JavaScript engine to execute the code on the user's device. </p>
									<p><strong>Source: Wikipedia</strong></p>
    		    				</div>
    		    			</div>
    		    			<div class="col-md-6">
    		    				<div class="written_text">
    		    					<div class="like_icon"><img src="/img/fast-forword-icon.png"></div>
    		    					<h1 class="written_text">HTML</h1>
    		    					<p>HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning and structure of web content. Other technologies besides HTML are generally used to describe a web page's appearance/presentation (CSS) or functionality/behavior (JavaScript). </p>
									<p><strong>Source: developer.mozilla.org</strong></p>
    		    				</div>
    		    			</div>
    		    		</div>
    		    	</div>
    		    </div>
    		    <div class="service_main">
    		    	<div class="container">
    		    		<div class="row">
    		    			<div class="col-md-6">
    		    				<div class="written_text">
    		    					<div class="like_icon"><img src="/img/design-icon.png"></div>
    		    					<h1 class="written_text">CSS</h1>
    		    					<p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. CSS is designed to enable the separation of presentation and content, including layout, colors, and fonts. This separation can improve content accessibility; provide more flexibility and control in the specification of presentation characteristics; enable multiple web pages to share formatting by specifying the relevant CSS in a separate .css file, which reduces complexity and repetition in the structural content and enable the .css file to be cached to improve the page load speed between the pages that share the file and its formatting.</p>
									<p><strong>Source: Wikipedia</strong></p>
    		    				</div>
    		    			</div>
    		    			<div class="col-md-6">
    		    				<div class="written_text">
    		    				  <div class="like_icon"><img src="/img/writing-icon.png"></div>
    		    					<h1 class="written_text">Node Js</h1>
    		    					<p>Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently, Node.js represents a "JavaScript everywhere" paradigm, unifying web-application development around a single programming language, rather than different languages for server-side and client-side scripts. </p>
									<p><strong>Source: Wikipedia</strong></p>
    		    				</div>
    		    			</div>
    		    		</div>
    		    	</div>
    		    </div>
    	</div>	  
	</div>
    <!--services end -->


    <%- include('partial/contact') %> 

    <%- include('partial/copyright') %> 

    <%- include('partial/footer') %> 
</body>
</html>